#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  margin: 5%;
  position: relative;
  left: 35%;
  scale: 1.2;
}
