body {
  background-image: url("/assets/img/page\ 1\ web.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.contentStage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
}

.stage1btn {
  scale: 1.2;
  background-color: #661b1c;
  border-color: #ffff;
}

.stage1btn:hover {
  background-color: #fff;
  border-color: #661b1c;
}

#err {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.stage1question {
  max-width: 50%;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-stage-2 {
  background-color: #661b1c;
  border-color: #ffff;
}
.btn-stage-2 :hover {
  background-color: #fff;
  border-color: #661b1c;
}

.stageOne {
  background-color: transparent;
}
